*{
    box-sizing: border-box;
}
body{
    display: flex;
    min-height: 100vh;
    background-color: rgb(0, 0, 49);
}
.container-slider{
    width:90%;
    max-width: 900px;
    margin: auto;
    overflow: hidden;/*oculta las otras imagenes que estan en seguida*/
    box-shadow: 0 0 0 7px rgb(38, 40, 43),
                0 15px 50px;
    border: 1px solid rgb(132, 41, 150);
    position: relative;
}
.slider{
    display: flex;
    width: 400%;
    height: 400px;
    margin-left: -100%; 
}
.slider__section{
    width: 100%;
}
.slider__img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;/*las imagenes no se estiraran*/
}
.slider__btn{
    color: rgba(7, 7, 7, 0.5);
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    top: 50%;
    transform: translateY(-50%);/*locentra mejor*/
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.slider__btn:hover{
 background-color: rgb(199, 196, 196);
}
.slider__btn--left{
    left: 10px;
}
.slider__btn--right{
    right: 10px;
}

